<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.zerobandwidth.android_lib">

    <application>
        <activity android:name="net.zerobandwidth.android.lib.SingletonServiceTest$FirstContext"/>
        <activity android:name="net.zerobandwidth.android.lib.SingletonServiceTest$SecondContext"/>
    </application>

</manifest>